<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsU0TmpoMhzRH6ASmNR4-Wxna9Gv8DRZo</string>
	<key>GCM_SENDER_ID</key>
	<string>331409317731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quanby.pcicApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pcic-97692</string>
	<key>STORAGE_BUCKET</key>
	<string>pcic-97692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331409317731:ios:8df83d32a4562ab8e07d56</string>
	<key>DATABASE_URL</key>
	<string>https://pcic-97692-default-rtdb.firebaseio.com</string>
</dict>
</plist>